# Coverage reports
coverage

# dot-env
.env

# Dependencies
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Build
dist

# Yarn
yarn.lock

# Misc
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp